<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="styles.css" />

    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <p class="title"><%= paragraph %>'s to do list</p>
      <%for (var i = 0; i < array.length; i++) {%>
        <div class="row">
          <input type="checkbox" />
          <p><%= array[i] %></p>
        </div>
          
      <%}%>
      <div class="additem">
        <form action="/" method="post" >
          <input name="newitem" type="text" placeholder="new item" autocomplete="off"/>
          <button name="button" value="" class="add-button">+</button>
        </form>
      </div>
    </div>
  </body>
</html>
