<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../public/styles.css" />

    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <input type="checkbox" />
        <p>playing</p>
      </div>
      <div class="row">
        <input type="checkbox" name="" id="" />
        <p>eat food</p>
      </div>
      <div class="row">
        <input type="checkbox" name="" id="" />
        <p>buy food</p>
      </div>
      <div class="additem">
        <form action="/" method="post">
          <input name="newitem" type="text" placeholder="new item" />
          <button name="button" class="add-button">+</button>
        </form>
      </div>
    </div>
  </body>
</html>
